@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-gold:     #EDBB00;
    --color-blue:     #004D98;
    --color-blue-dark:#052e57;
    --color-burgundy: #A50044;
    --color-red:      #DB0030;
    --color-yellow:   #FFED02;
    --color-black:    #000000;

    --color-letters:  #ffffff;
    --clippy-before:    polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    --clippy-after:     polygon(0 0, 100% 0, 100% 0, 0 0);
}

body{
    font-family: 'Roboto Slab', serif;
    position: relative;
}

/*?---------------------------ESTILOS DEL HEADER-----------------*/

.header{
    background-color: var(--color-blue-dark);
    color: var(--color-letters);
    position: fixed;
    width: 100%;
}

.header__container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.header__container-picture img{ width: 170px; height: 170px; }

.header__container-title{ font-size: 45px; padding-left: 25px;}

.header__container::before,
.header__container::after{
    content: "";
    width: 20px;
    height: 70px;
    transition: clip-path .3s;
}

.header__container::before{
    background-color: var(--color-gold);
    clip-path: var(--clippy-before);
}

.header__container::after{
    background-color: var(--color-burgundy);
    clip-path: var(--clippy-after);
}

.header__container:hover::before,
.header__container:hover::after{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.header__container:hover{ background-color: #061e36; }



/*?---------------------------ESTILOS DEL NAV-----------------*/

.nav{
    background-color: var(--color-gold);
    width: 253px;
    height: 672px;
    padding: 30px 10px;
    position: fixed;
    top: 174px;
}

.nav ul{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.nav a{
    color: var(--color-black);
    text-decoration: none;
    font-size: 28px;
}

.nav__item{ transition: background-color .3s, color 1s; }

.nav__item:hover{ background-color: var(--color-blue); }

.nav__item:hover a{ color: var(--color-letters); }

/*?---------------------------ESTILOS DEL MAIN-----------------*/


.main{
    /* background-color: rgb(240, 240, 240); */
    width: 70%;
    height: 1600px;
    position: fixed;
    top: 174px;
    left: 253px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 30px 20px;
}

.main .section{
    height: 1000px;
}

/*---------------------------estilos para la historia-----------------*/

.main #historia{
    height: 850px;
}

.main .section .section__title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    background-color: var(--color-blue);
    color: var(--color-letters);
    padding: 15px 8px;
    width: 50%;
}

.main__section-container{ width: 90%; margin: 0 auto;}

.main__historia p{
    font-size: 18px;
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 15px;
}

.main__historia-imagenes{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.main__historia-imagenes figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__historia-imagenes figure p{
    font-weight: 300;
    font-size: 15px;
    margin-top: 5px;
}

/*---------------------------estilos para los estadios-----------------*/

.main #estadio{
    height: 550px;
}

.casanova { background-image: url('../materials/img/estadios/campo-casanova.jpg'); }
.industria { background-image: url('../materials/img/estadios/campo-de-la-calle-de-la-Industria.jpg'); }
.corts { background-image: url('../materials/img/estadios/campo-corts.jpeg'); }
.nou { background-image: url('../materials/img/estadios/campo-camp-nou.jpg'); }

.main__section-container ul li{ 
    list-style: none; 
    display: flex;
    align-items: center;
    background-color: #f3f0f0;
    margin-bottom: 15px;
    border-radius: 20px;
}

.main__section-container ul li p{
    text-align: justify;
    line-height: 1.6;
    padding: 0 20px;
}

ul.slider{
    position: relative;
}

ul.slider li{ position: absolute; left: 0; top: 0; opacity: 0; transition: opacity .5s;}

ul.slider li:first-child{
    opacity: 1;
}

ul.slider li:target{
    opacity: 1;
}

ul.menu {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 380px;
}

ul.menu li a{ text-decoration: none; color: var(--color-letters); font-size: 18px; font-weight: 700;}

ul.menu li {
    background-color: #DB0030;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
}

.main__estadio-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 20px;
}

.main__estadio-img .img{
    width: 500px;
    height: 300px;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
}

.main__estadio-img p{
    font-size: 15px;
    font-weight: 700;
}

/*---------------------------estilos para los trofeos-----------------*/

.main #trofeos{
    height: 470px;
}

.main__trofeos-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
}

.main__trofeos-item-content{
    display: flex;
    align-items: center;
    gap: 30px;
    background-image: linear-gradient(to top, var(--color-blue) 0%, var(--color-red) 100%);
    color: var(--color-letters);
    padding: 20px;
    border-radius: 20px;
}

.main__trofeos-item .trofeoImg{
    width: 50px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.main__trofeos-item .trofeoCh{ background-image: url('../materials/img/trofeos/champions.png');}
.main__trofeos-item .trofeoSCE{ background-image: url('../materials/img/trofeos/super-copa-europa.png');}
.main__trofeos-item .trofeoMC{ background-image: url('../materials/img/trofeos/mundial-clubes.png');}
.main__trofeos-item .trofeoLL{ background-image: url('../materials/img/trofeos/la-liga.png');}
.main__trofeos-item .trofeoCR{ background-image: url('../materials/img/trofeos/copa-del-rey.png');}

.main__section-container-trofeos{ width: 90%; margin: 0 auto;}

.main__trofeos-item{ list-style: none; }

.trofeos-content{ text-align: center; }

.trofeos-content p{
    font-weight: 700;
    font-size: 20px;
}

.trofeos-content h3{
    font-size: 25px;
}


/*---------------------------estilos para los trofeos-----------------*/




/*---------------------------estilos para los mejores jugadas y goles-----------------*/

