@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-gold:     #EDBB00;
    --color-blue:     #004D98;
    --color-blue-dark:#052e57;
    --color-burgundy: #A50044;
    --color-red:      #DB0030;
    --color-yellow:   #FFED02;
    --color-black:    #000000;

    --color-letters:  #ffffff;
    --clippy-before:    polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    --clippy-after:     polygon(0 0, 100% 0, 100% 0, 0 0);

    --heigth-nav-aside: 672px;
    --top-nav-aside: 154px;

    --color-fc: #1877f2;
    --color-ytb: #FF0000;
    --color-tw: #1DA1F2;
    --color-int: #F86F2F;

}

body{
    font-family: 'Roboto Slab', serif;
    position: relative;
}

li{ list-style: none; }
a { text-decoration: none; }

/*?---------------------------ESTILOS DEL HEADER-----------------*/

.header{
    background-color: var(--color-blue-dark);
    color: var(--color-letters);
    position: fixed;
    width: 100%;
}

.header__container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.header__container-picture img{ width: 150px; height: 150px; }

.header__container-title{ font-size: 35px; padding-left: 25px;}

.header__container::before,
.header__container::after{
    content: "";
    width: 20px;
    height: 70px;
    transition: clip-path .3s;
}

.header__container::before{
    background-color: var(--color-gold);
    clip-path: var(--clippy-before);
}

.header__container::after{
    background-color: var(--color-burgundy);
    clip-path: var(--clippy-after);
}

.header__container:hover::before,
.header__container:hover::after{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.header__container:hover{ background-color: #061e36; }



/*?---------------------------ESTILOS DEL NAV-----------------*/

.nav{
    background-color: var(--color-gold);
    width: 253px;
    height: var(--heigth-nav-aside);
    padding: 30px 10px;
    position: fixed;
    top: var(--top-nav-aside);
}

.nav ul{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.nav a{
    color: var(--color-black);
    text-decoration: none;
    font-size: 28px;
}

.nav__item{ transition: background-color .3s, color 1s; }

.nav__item:hover{ background-color: var(--color-blue); }

.nav__item:hover a{ color: var(--color-letters); }

/*?---------------------------ESTILOS DEL MAIN-----------------*/


.main{
    /* background-color: rgb(240, 240, 240); */
    width: 70%;
    height: 1000px;
    position: fixed;
    top: 174px;
    left: 253px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 30px 20px;
}

/*---------------------------estilos para la historia-----------------*/

.main #historia{ height: 850px; }

.main .section .section__title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
    background-color: var(--color-blue);
    color: var(--color-letters);
    padding: 15px 8px;
    width: 50%;
}

.main__section-container{ width: 90%; margin: 0 auto;}

.main__historia p{
    font-size: 18px;
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 15px;
}

.main__historia-imagenes{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.main__historia-imagenes figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__historia-imagenes figure p{
    font-weight: 300;
    font-size: 15px;
    margin-top: 5px;
}

/*---------------------------estilos para los estadios-----------------*/

.main #estadio{ height: 550px; }

.casanova { background-image: url('../materials/img/estadios/campo-casanova.jpg'); }
.industria { background-image: url('../materials/img/estadios/campo-de-la-calle-de-la-Industria.jpg'); }
.corts { background-image: url('../materials/img/estadios/campo-corts.jpeg'); }
.nou { background-image: url('../materials/img/estadios/campo-camp-nou.jpg'); }

.main__section-container ul li{ 
    list-style: none; 
    display: flex;
    align-items: center;
    background-color: #f3f0f0;
    margin-bottom: 15px;
    border-radius: 20px;
}

.main__section-container ul li p{
    text-align: justify;
    line-height: 1.6;
    padding: 0 20px;
}

ul.slider{
    position: relative;
}

ul.slider li{ position: absolute; left: 0; top: 0; opacity: 0; transition: opacity .5s;}

ul.slider li:first-child{
    opacity: 1;
}

ul.slider li:target{
    opacity: 1;
}

ul.menu {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 380px;
}

ul.menu li a{ text-decoration: none; color: var(--color-letters); font-size: 18px; font-weight: 700;}

ul.menu li {
    background-color: #DB0030;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
}

.main__estadio-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 20px;
}

.main__estadio-img .img{
    width: 500px;
    height: 300px;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
}

.main__estadio-img p{
    font-size: 15px;
    font-weight: 700;
}

/*---------------------------estilos para los trofeos-----------------*/

.main #trofeos{ height: 470px; }

.main__trofeos-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
}

.main__trofeos-item-content{
    display: flex;
    align-items: center;
    gap: 30px;
    background-image: linear-gradient(to top, var(--color-blue) 0%, var(--color-red) 100%);
    color: var(--color-letters);
    padding: 20px;
    border-radius: 20px;
}

.main__trofeos-item .trofeoImg{
    width: 50px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.main__trofeos-item .trofeoCh{ background-image: url('../materials/img/trofeos/champions.png');}
.main__trofeos-item .trofeoSCE{ background-image: url('../materials/img/trofeos/super-copa-europa.png');}
.main__trofeos-item .trofeoMC{ background-image: url('../materials/img/trofeos/mundial-clubes.png');}
.main__trofeos-item .trofeoLL{ background-image: url('../materials/img/trofeos/la-liga.png');}
.main__trofeos-item .trofeoCR{ background-image: url('../materials/img/trofeos/copa-del-rey.png');}

.main__section-container-trofeos{ width: 90%; margin: 0 auto;}

.main__trofeos-item{ list-style: none; }

.trofeos-content{ text-align: center; }

.trofeos-content p{
    font-weight: 700;
    font-size: 20px;
}

.trofeos-content h3{
    font-size: 25px;
}


/*---------------------------estilos para los mejores jugadores-----------------*/

.main #mejores-jugadores{ height: 680px; }

.main__section-container-jugadores{ width: 90%; margin: 0 auto; }

.main__jugadores-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
}

.jugador-img{
    width: 200px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: contain;
}

.main__jugadores-item .messi{background-image: url('../materials/img/mejores-jugadores/messi.jpg');}
.main__jugadores-item .ronaldinho{background-image: url('../materials/img/mejores-jugadores/ronaldinho.jpg');}
.main__jugadores-item .johan{background-image: url('../materials/img/mejores-jugadores/johan.jpg');}
.main__jugadores-item .sotil{background-image: url('../materials/img/mejores-jugadores/sotil.jpeg');}
.main__jugadores-item .maradona{background-image: url('../materials/img/mejores-jugadores/maradona.jpg');}
.main__jugadores-item .xavi{background-image: url('../materials/img/mejores-jugadores/xavi.jpg');}
.main__jugadores-item .iniesta{background-image: url('../materials/img/mejores-jugadores/iniesta.jpg');}
.main__jugadores-item .koeman{background-image: url('../materials/img/mejores-jugadores/koeman.jpg');}

.main__jugadores-item{
    background-image: linear-gradient(to top, var(--color-blue) 0%, var(--color-red) 100%);
    color: var(--color-yellow);
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 20px;
    text-align: center;
}

.main__jugadores-item p{
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
}

/*---------------------------estilos para los mejores jugadas y goles-----------------*/

.main #mejores-jugadas-goles{ height: 950px; }

.main__section-container-jugadasGoles{ 
    width: 90%; 
    margin: 0 auto; 
    display: flex;
    justify-content: space-around;
}

.container-video{
    width: 450px;
    height: 400px;
    text-align: center;
}

.container-video p{
    width: 90%;
    margin-top: 10px;
}

/*?--------------------------------ESTILOS PARA EL ASIDE----------*/

.aside{
    width: 255px;
    height: var(--heigth-nav-aside);
    background-color: var(--color-black);
    position: fixed;
    top: var(--top-nav-aside);
    right: 0;
    padding: 20px;
}

.aside h2{ color: var(--color-letters); }

.aside__list{ width: 90%; display: flex; flex-direction: column; gap: 20px; margin-top: 10px;}

.aside__list-item a{ color: var(--color-letters); width: 100%;}

.aside__list-item{
    color: var(--color-letters);
    background-color: var(--color-red);
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: border .5s;
}

.aside__list .fc{ background-color: var(--color-fc); }
.aside__list .tw{ background-color: var(--color-tw); }
.aside__list .yt{ background-color: var(--color-ytb); }
.aside__list .inst{ background-color: var(--color-int); }

.aside__list-item:hover{
    border: 1px solid #fff;
}

/*?--------------------------------ESTILOS PARA EL FOOTER----------*/

.footer{
    background-color: var(--color-blue-dark);
    width: 100%;
    height: 90px;
    position: fixed;
    bottom: 0;
    color: var(--color-letters);
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__container{
    display: flex;
    align-items: center;
}

.footer__container-picture img{ width: 100px; height: 100px; }

.footer h2{ color: var(--color-gold); }

.footer p a{
    color: var(--color-yellow);
    font-weight: 700;
    text-decoration: underline;
}

/*?--------------------------------MEDIA QUERY---------*/

@media (max-width: 1470px){

    .main #historia, .main #estadio, .main #trofeos,
    .main #mejores-jugadores,
    .aside{ height: auto; }

    .main{ width: 55%; }

    .main__historia-imagenes{ flex-direction: column; margin-top: 20px; }

    .main__estadio-img .img{ width: 400px; height: 200px; }

    .main__section-container ul li { flex-direction: column; }

    .main__section-container ul li p{ margin-bottom: 15px; }

    ul.menu{ padding-top: 600px;}

    .main__trofeos-list{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3,1fr);
        margin-bottom: 30px;
    }

    .main__jugadores-list{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4,1fr);
        margin-bottom: 30px;
    }

    .main #mejores-jugadas-goles{ height: 1350px; }

    .main__section-container-jugadasGoles{flex-direction: column; align-items: center; margin-bottom: 30px;}

}

@media (max-width: 1100px){


    .header{ position: absolute; }

    .nav{ width: 100%; position: absolute; height: auto; top: 150px;}

    .nav ul{flex-direction: row; gap: 20px; flex-wrap: wrap;}

    .nav a{ font-size: 24px; padding: 10px;}

    .main{
        position: absolute;
        width: 100%;
        left: 0;
        overflow-y: visible;
        top: 250px;
    }

    .main__section-container ul li { flex-direction: row; }

    .main__trofeos-list{ margin-bottom: 30px; }

    .main__jugadores-list{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3,1fr);
        margin-bottom: 30px;
    }

    .main__section-container-jugadasGoles{flex-direction: column; align-items: center; margin-bottom: 30px;}

    .aside{  position: absolute;  width: 100%;; top: 1150px; }

    .aside__list{ flex-direction: row; justify-content: space-between;}

    .footer{ 
        position: absolute; 
        width: 100%;;
        top: 1325px;
        padding: 10px;
        gap: 15px;
    }

}

@media (max-width: 1020px){

    .main__section-container ul li { flex-direction: column; }

    .main__section-container ul li p{ margin-bottom: 15px; }

    ul.menu{ padding-top: 600px;}

    .main__section-container-jugadasGoles{ margin-bottom: 100px;}
}

@media (max-width: 961px){
    .main{ top: 320px; }
    
    .main__section-container-jugadasGoles{ margin-bottom: 120px;}
}


@media (max-width: 768px){


    .header__container-title{ font-size: 30px; }

    .header__container-picture img{ width: 100px; height: 100px;}

    .nav{ top: 100px;}

    .nav a{ font-size: 18px; padding: 5px;}

    .main{ top: 230px; }

    .main .section .section__title{ font-size: 20px; }

    .main__historia-imagenes{ flex-direction: column; margin-top: 20px; }

    .main__estadio-img { width: 100%;}

    .main__estadio-img .img{ width: 300px; height: 200px; }
    
    .main__estadio-img p{ width: 100%; margin-left: 50px;}



    .main__trofeos-list{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3,1fr);
    }

    .main__jugadores-list{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4,1fr);
        margin-bottom: 30px;
    }

    .mejores__jugadores-item{ padding: 10px; }

    .jugador-img{ width: 170px; height: 100px;}

    .main__section-container-jugadasGoles{flex-direction: column; align-items: center; margin-bottom: 30px;}

    .aside__list{ flex-direction: row; justify-content: space-between;}

    .footer h2 { font-size: 18px; }

    .footer p{ font-size: 15px; }

    .footer__container-picture img{ width: 80px; height: 80px; }

    .footer__container-title{ font-size: 25px;}

}

@media (max-width: 600px){

    .aside__list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .footer { top: 1440px; }
}

